[run]
# Specify the source directories where coverage should be collected from
source = src/

# Specify files or directories to omit from coverage analysis
omit =
    */site-packages/*
    */.tox/*
    tests/*
    version.py

# Enable parallel mode for coverage collection
parallel = True

# Use relative paths for files in coverage reports
relative_files = True

[report]
# Show missing lines in coverage reports
show_missing = True

# Skip reporting of fully covered files
skip_covered = True

# Skip reporting of files with no relevant lines of code
skip_empty = True
